* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display:fixed;
    font-family:arial,sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg\ main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}

.signup-container{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-align: center;
    width: 320px;
    background: rgb(221, 19, 177, 0.6);
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}


input{
    width: 300px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
    
   
}

.btn {
    width: 80% ;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color:rgb(255, 0, 255);
    color:rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
}

.btn a{
    color:rgb(255, 255, 255);
}

.btn:hover{
    background-color:#5f005a;
}

.divider{
    margin: 15px 0;
    font-size: 14px;
    color:rgb(255, 0, 212);
    
}

.gl-btn{
    width: 80%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ebeefe;
    color:white;
    cursor: pointer;
    font-size: 16px;
    }

.gl-btn:hover{
    background-color: #5f005a;
    }

.input4{
    display: left;
    width: 29%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}

.input5{
    display: left;
    width: 28%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}
.input6{
    display: left;
    width: 28%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}
.input1{
    display: left;
    width: 12%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}
.input2{
    display: left;
    width: 12%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}

.input3{
    display: left;
    width: 12%;
    padding: 11px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}

.input7{
    display: center;
    width: 12%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ff00f2;
    border-radius: 5px;
}

.divider span::before,
.divider span::after{

content:"";
display: inline-block;
width: 40% ;
height: 2px;
vertical-align: middle;
margin: 0 10px;
background-color: #ff00f2;
color: white;


}

.birth{
    margin: 5px 0;
    font-size: 20px;
    color:rgb(255, 0, 212);


}

header {
    background: linear-gradient(90deg, #f60dd79b, #b566ff97);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.3s;
  }

  nav a:hover {
    background-color: #8541ba;
    border: #414FBA;
    border-radius: 50px;
    padding: 1rem 1rem;
  
  }
  
  footer {
    text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, #f60dd79b, #b566ff97);
  color: white;
  margin: 0 ;
}

footer p{
    margin: 1rem;
    font-size: 2.5rem;
    color: white;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
   
  
  }
  .nav-icons div:hover {
    background-color: rgb(179, 0, 255);
   
  
  }
  .nav-icons div {
    background: rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 20px;
  }
  a{
    color: #f60dd7;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
